@import '../../../../css/variabilities.scss';

.panoramicGates {

    color: #393939;

    h3 {
        text-transform: uppercase;
        font-family: $roboto-slab;
        font-weight: bold;
        margin-top: 5rem;


        &:first-of-type{
            margin-top: -1rem;

            @media (max-width: 320px) {
                margin-top: 2rem;
            }
        }
    }

    h4 {
        text-transform: initial;
        font-family: $roboto-slab;
        font-size: 1.05rem;
    }

    p{
        text-align: justify;
        margin: 2rem 0;
    }

    span {
        color: #a5a4a4;
    }


    .menu_content{
        display: flex;

        .button_content {
            flex-grow: 1;
        }
    
    }

    .content {

        img[alt='панорамные ворота'] {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        i {
            color: #43a906;
            font-size: 1.3rem;
            margin-right: 1rem;
        }


        .typeWrapper, .variantWrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            grid-template-rows: 1fr;
            gap: 1%;
            justify-items: center;
            margin-top: 6rem;

             @media (max-width: 1137px) {
                 grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); 
                 gap: 2%;
             }

             @media (max-width: 320px) {
                gap: 0.5%;
            }
            
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 15rem;

                    @media (min-width: 768px) and (max-width: 904px) {
                        width: 30rem;
                     }
                }
                p {
                    text-align: center;
                }
            
        }
        .typeWrapper { 
            @media (min-width: 768px) and (max-width: 904px) {
                grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); 
             }
        }

        .variantWrapper {
            img {
                height: 22rem;
            }
        }

        img[alt='цвета']{
            max-width: 70%;
        }

        .controlWrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
            grid-template-rows: 1fr;
            gap: 1%;
            justify-items: center;
            align-items: center;
            
    
            div > img {
                object-fit: cover;
                max-height: 100%;
                width: 15rem;
                
            }
        }
        .additionWrapper {
            margin: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            grid-template-rows: 1fr;
            gap: 1%;
            justify-items: center;

            @media (max-width: 1137px) {
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr)); 
                gap: 1%;
            }
             @media (min-width: 768px) and (max-width: 900px) {
                 grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr)); 
             }
             @media (max-width: 320px) {
                gap: 0.1%;
                margin-bottom: 3rem;
            }

            .addition {
                width: 20rem;
                height: 100%;
                background-color: #fff;
                border: 1px solid rgb(186, 186, 186);

                @media (min-width: 801px) and (max-width: 991px) {
                    width: 16rem; 
                }
                @media (min-width: 768px) and (max-width: 800px) {
                    width: 15rem; 
                }
                
            }
            div {
                height: 14rem;
                @media (min-width: 768px) and (max-width: 800px) {
                    height: 11.5rem;
                }
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border: 1px solid rgb(186, 186, 186);
            }
            p {
                margin: 2rem;
            }
        }
    
    }
 
   
}