@import '../../../css/variabilities.scss';


.fence3d {


    p {
        text-align: left;
        margin-top: 1rem;
    }

    .menu_content{
        display: flex;
    
    }

    .fenceTittle {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
        grid-template-rows: 1fr;
        grid-gap: 1%;

        img {
            width: 21rem;
            height: 18rem;
            object-fit: cover;
        }
    }

    .featureFence {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
        grid-template-rows: 1fr;
        justify-items: center;

        img {
            width: 21rem;
            object-fit: cover;
            border: 1px solid grey;
        }
        li {
            margin: 1rem 0;
            text-align: left;
        }
    }

}