@import './css/variabilities.scss';

//  header {
//     background-color:rgba(218, 218, 218, 0.4);
//     background-color: #fbfbfb;
//   }

.header-info {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    color: #646464;

    @media (max-width: 500px) {
        flex-direction: column;  
        align-items:flex-end;
        font-size: 10px; 
    };

    .fa-grip-lines-vertical {
        color: #43a906;
        @media (max-width: 320px) {
            display: none;
        };
    }

    a {
        font-size: 1.1rem;
        margin-right: 1rem;
        padding-top: 0.5rem; 
        color: #646464;

        @media (max-width: 500px) {
            margin-right: 0;
        };
    };

    i{
        color: rgb(213, 53, 85);
        margin-right: 0.6rem;
        font-size: 1.1rem;

    
    };

    a + i {
        color: #c1bebe;
        margin-left: 0.5rem;
        margin-right: 1rem;

    };


}






